<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
  

  <script>

  $('#bags_goal_total').text("Goal goes here.");
  $('#lights_goal_total').text("Goal goes here.");

  var bagsTotal = 0;
  $('#bags').click(function(){
     bagsTotal = Number(bagsTotal) + Number($(this).val());
     $('#bags_total').text(bagsTotal);
  });
  $('#bags_total').text(bagsTotal);

  var lightsTotal = 0;
  $('#lights').click(function(){
     lightsTotal = Number(lightsTotal) + Number($(this).val());
     $('#lights_total').text(lightsTotal);
  });
  $('#lights_total').text(lightsTotal);

  var theTotal = 0;
  $('button').click(function(){
     theTotal = Number(theTotal) + Number($(this).val());
     $('.total').text("Your Grand Total: "+theTotal);
  });
  $('.total').text("Your Grand Total: "+theTotal);

  </script>

   <style media="screen">
     .total {
        position: absolute;
        left: 300px;
        font-weight:bold;
     }

   </style>

</body>


</html>

<!-- <tr>
  <td>I road my bike to work.</td>
  <td><button id = "bike" value="15">Done!</button></td>
  <td>Total:</td>
  <td id="bike_total"> </td>
</tr>

<tr>
  <td>I carpooled instead of taking my car.</td>
  <td><button id="carpool" value="35">Done!</button></td>
  <td>Total:</td>
  <td id="carpool_total"> </td>
</tr>

<tr>
  <td>I put a load of laundry on the line.</td>
  <td><button id="laundry" value="15">Done!</button></td>
  <td>Total:</td>
  <td id="laundry_total"> </td>
</tr> -->


<!-- // var bikeTotal = 0;
// $('#bike').click(function(){
//    bikeTotal = Number(bikeTotal) + Number($(this).val());
//    $('#bike_total').text(bikeTotal);
// });
// $('#bike_total').text(bikeTotal);
//
// var carpoolTotal = 0;
// $('#carpool').click(function(){
//    carpoolTotal = Number(carpoolTotal) + Number($(this).val());
//    $('#carpool_total').text(carpoolTotal);
// });
// $('#carpool_total').text(carpoolTotal);
//
// var laundryTotal = 0;
// $('#laundry').click(function(){
//    laundryTotal = Number(laundryTotal) + Number($(this).val());
//    $('#laundry_total').text(laundryTotal);
// });
// $('#laundry_total').text(laundryTotal); -->
