
<section class="content triggerAnimation animated" data-animate="fadeInDown">
<div class="row">
    <div class="large-12 columns text-center gap-bottom25">
        <h2>Eco-Mojo has a Mission</h2>
    </div>

    <div class="large-4 medium-4 tp-12 columns">
        <h4>1. Promote living an Eco-Friendly lifestyle.</h4>
        <p>You and I have an oppurtunity to change the world. Emphasise on you and I because it really starts with us.</p>
    </div>

    <div class="large-4 medium-4 tp-12 columns">
        <h4>2. Make it Fun.</h4>
        <p>We've put a lot of time into making Eco-Mojo fun to use. As you earn points, you can feel good (or even special) about the eco-frienly actions you're taking every day. And since each point is equal to co2...</p>
    </div>

    <div class="large-4 medium-4 tp-12 columns">
        <h4>3. Make it easy. </h4>
        <p>Let's face it, if it's not easy, you won't do it. Neither would we. So we've designed Eco-Mojo with a quick-to-access, intuative interface that works on your smart phone just as smoothly as it does on your computer. It also works outdoors as well as indoors</p>
    </div>

    <div class="large-12 columns text-center">
        <!-- <i class="icon-workshirt big-icon"></i> -->
    </div>
</div>
</section>
<!-- Content end here -->

<!-- Content fullwidth start here -->
<section class="content-full3" id="about-parallax">
<div class="row">
    <div class="large-12 columns text-center gap-bottom25 triggerAnimation animated" data-animate="bounceIn">
        <h2>The team behind Eco-Mojo</h2>
    </div>

    <div class="large-5 medium-5 small-12 columns text-center triggerAnimation animated" data-animate="fadeInRight">
        <%= image_tag('lisapic.jpg', alt:"", class:"team-img") %>
        <div class="panel-icon icon-offset">
            <div class="circle-border medium">
                <i class="icon-brush"></i>
            </div>
            <h4>Lisa Bunch</h4>
            <p class="subtitle">developer</p>
            <p>After relegating my love of the fine arts and languages as hobbies, it was only a matter of time until my inner tech admiring dork led me to the world of web development. Here I have been pushing myself to quickly broaden my horizons and take in this new world of possibilities.</p>
            <ul class="share-social no-bullet">
                <li data-tooltip class="has-tip tip-top" title="Facebook">
                    <a href="https://www.facebook.com/lisa.bunch.35" target="_blank">
                        <i class="social-facebook"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Twitter">
                    <a href="https://twitter.com/LisaCBunch" target="_blank">
                        <i class="social-twitter"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Linkedin">
                    <a href="https://www.linkedin.com/in/lisabunch" target="_blank">
                        <i class="social-linkedin"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Github">
                    <a href="https://github.com/lcbunch" target="_blank">
                        <i class="social-github"></i>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div class="large-5 medium-5 small-12 columns text-center triggerAnimation animated" data-animate="fadeInLeft">
        <%= image_tag('lisapic.jpg', alt:"", class:"team-img") %>
        <div class="panel-icon icon-offset">
            <div class="circle-border medium">
                <i class="icon-html"></i>
            </div>
            <h4>Kenny Trionfo</h4>
            <p class="subtitle">developer</p>
            <p>I've been fortunate to have some fun business experience, even some crazy start-up experience. </br> But I love technology, and as I look out over the next 10+ years for our country, I just gotta be in technology. </br>I also love building cool stuff and saying "look Mom!". So I'm now enjoying my career in software development with Eco-Mojo being one of my first full blown projects. </br>We hope you like it. We hope you <i>love</i> it.  </p>

            <ul class="share-social no-bullet">
                <li data-tooltip class="has-tip tip-top" title="Twitter">
                    <a href="https://twitter.com/KenTrionfo" target="_blank">
                        <i class="social-twitter"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Linkedin">
                    <a href="https://www.linkedin.com/in/KenTrionfo" target="_blank">
                        <i class="social-linkedin"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Google+">
                    <a href="https://plus.google.com/u/0/+KenTrionfo/posts/p/pub" target="_blank">
                        <i class="social-googleplus"></i>
                    </a>
                </li>
                <li data-tooltip class="has-tip tip-top" title="Github">
                    <a href="https://github.com/KennyTrionfo" target="_blank">
                        <i class="social-github"></i>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
