<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- ////////////////////////////////// -->
    <!-- //     Retina Bookmark Icon     // -->
    <!-- ////////////////////////////////// -->
    <link rel="apple-touch-icon-precomposed" href="assets/apple-icon.png" />

    <!-- ////////////////////////////////// -->
    <!-- //      Stylesheets Files       // -->
    <!-- ////////////////////////////////// -->
    <link rel="stylesheet" href="assets/foundation.css.scss" />
    <link rel="stylesheet" href="assets/prodigy-responsive.css.scss" />
    <link rel="stylesheet" href="assets/style.css.scss" />

    <!-- css plugin here  -->
    <!-- no css plugin  -->

    <!-- ////////////////////////////////// -->
    <!-- //     Google Webfont Files     // -->
    <!-- ////////////////////////////////// -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

    <!-- ////////////////////////////////// -->
    <!-- //        Favicon Files         // -->
    <!-- ////////////////////////////////// -->
    <link rel="shortcut icon" href="assets/favicon.ico" />

</head>

<body>
    <div id="box-wrapper">
        <!-- Header start here -->
        <header id="header1" class="header">
            <div class="row">
                <div class="large-4 columns">
                    <div id="logo">
                        <a href="<%= root_path %>"><img src="assets/logo.png" alt="" class="retina" /></a>
                    </div>
                </div>

                <div class="large-8 columns">
                    <div id="navigation">
                        <!-- expanding search  -->
                        <div id="form-search" class="form-search">
                            <form>
                                <input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                                <input class="search-submit" type="submit" value="">
                                <span class="search-icon"><i class="icon-search"></i></span>
                            </form>
                        </div>

                        <nav class="nav-menu">
                            <a class="toggleMenu" href="#"><i class="icon-menu"></i></a>

                            <ul class="nav">
                                <li class="dropdown"><a href="contact.html">Home</a>
                                    <ul>
                                        <li><a href="index-layout2.html">Index Layout 2</a></li>
                                        <li><a href="index-layout3.html">Index Layout 3</a></li>
                                        <li><a href="index-layout4.html">Index Layout 4</a></li>
                                        <li><a href="index-layout5.html">Index Layout 5</a></li>
                                        <li><a href="index-layout6.html">Index Layout 6</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About Layout 1</a></li>
                                        <li><a href="about-layout2.html">About Layout 2</a></li>
                                        <li><a href="services.html">Services Layout 1</a></li>
                                        <li><a href="services-layout2.html">Services Layout 2</a></li>
                                        <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="sitemap.html">Reva Sitemap</a></li>
                                        <li><a href="single.html">Blog Post</a></li>
                                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                        <li><a href="faq.html">FAQ Page</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Element</a>
                                    <ul>
                                        <li><a href="column.html">Column</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="button-list.html">Button &amp; List</a></li>
                                        <li><a href="icon-list.html">Icon List</a></li>
                                        <li><a href="icon-use.html">Icon Use</a></li>
                                        <li><a href="typhography.html">Typhography</a></li>
                                        <li><a href="panel-promo.html">Panel &amp; Promo</a></li>
                                        <li><a href="tab-accordion.html">Tab &amp; Accordion</a></li>
                                        <li><a href="alert-progress.html">Alert &amp; Progress</a></li>
                                        <li><a href="timeline.html">Timeline</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-2col.html">Portfolio 2 Column</a></li>
                                        <li><a href="portfolio-3col.html">Portfolio 3 Column</a></li>
                                        <li><a href="portfolio-4col.html">Portfolio 4 Column</a></li>
                                        <li class="dropdown"><a href="#">Dropdown Level 1</a>
                                            <ul>
                                                <li><a href="#">Dropdown Level 2</a></li>
                                                <li><a href="#">Dropdown Level 2</a></li>
                                                <li class="dropdown"><a href="#">Dropdown Level 2</a>
                                                    <ul>
                                                        <li><a href="#">Dropdown Level 3</a></li>
                                                        <li><a href="#">Dropdown Level 3</a></li>
                                                        <li><a href="#">Dropdown Level 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li class="dropdown"><a href="#">Contact</a>
                                    <ul>
                                        <li><a href="contact.html">Contact Layout 1</a></li>
                                        <li class="active"><a href="contact-layout2.html">Contact Layout 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end here -->

        <!-- Page title start here -->
        <section id="pagetitle-wrapper" class="parallax">
            <div class="row">
                <div class="large-9 large-offset-3 columns">
                    <h1 class="h1-double">Get in touch</h1>
                    <h5 class="width80">Lorem ipsum dolor sit amet consectetur adipisicing elit tenetur minus perferendis animi eveniet quo ipsum totam neque maxime</h5>
                </div>

                <div class="large-12 columns">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="current-page"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page title end here -->

        <!-- Content wrapper and sticky menu trigger here  -->
        <div id="content-wrapper">
            <!-- Content start here -->
            <section class="content">
                <div class="row">
                    <div class="large-6 medium-6 tp-12 columns gap-top12  triggerAnimation animated" data-animate="fadeInLeft">
                        <div id="map2"></div>
                    </div>

                    <div class="large-6 medium-6 tp-12 columns  triggerAnimation animated" data-animate="fadeInDown">
                        <h3>We'd love to hear from you!</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                        <div class="contactform-area2">
                            <form action="#" id="contactform">
                                <fieldset>
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <label for="name"><span>Username</span></label>
                                            <input type="text" name="name" id="name" placeholder="Username" />
                                        </div>

                                        <div class="large-12 columns">
                                            <label for="email"><span>Email</span></label>
                                            <input type="email" name="email" id="email" placeholder="Email here" />
                                        </div>

                                        <div class="large-12 columns">
                                            <label for="subject"><span>Subject</span></label>
                                            <input type="text" name="subject" id="subject" placeholder="Subject here" />
                                        </div>

                                        <div class="large-12 columns">
                                            <label for="message"><span>Message</span></label>
                                            <textarea id="message" name="message" placeholder="Leave your message here." style="height: 100px;"></textarea>

                                            <button type="submit" class="small round green" id="buttonsend">Send Message</button>
                                            <span class="loading" style="display: none;">Please wait..</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <div class="large-12 columns gap-top12 gap-bottom25">
                        <hr/>
                    </div>

                    <div class="large-4 medium-4 tp-12 columns triggerAnimation animated" data-animate="fadeInLeft">
                        <div class="circle-border small icon-left">
                            <i class="icon-alarm"></i>
                        </div>
                        <h4>Office Hours</h4>
                        <p class="text-overflow">Monday to Friday / 7:00 - 18:00<br/>Saturday / 9:00 - 15:00</p>
                    </div>

                    <div class="large-4 medium-4 tp-12 columns triggerAnimation animated" data-animate="fadeInUp">
                        <div class="circle-border small icon-left">
                            <i class="icon-office-building"></i>
                        </div>
                        <h4>Reva Address</h4>
                        <p class="text-overflow">Cost Avenue. Silver Spring<br/>Jacko City, MD 20910, Indonesia</p>
                    </div>

                    <div class="large-4 medium-4 tp-12 columns triggerAnimation animated" data-animate="fadeInRight">
                        <div class="circle-border small icon-left">
                            <i class="icon-envelope"></i>
                        </div>
                        <h4>Contact Info</h4>
                        <p class="text-overflow">Phone : (111) 234 5678<br/>Email : you@companyname.com</p>
                    </div>
                </div>
            </section>
            <!-- Content end here -->
        </div>
        <!-- Content wrapper and sticky menu trigger end here  -->
    </div>


</body>

</html>
