

<!-- Content fullwidth start here -->
<section class="content-full-map">
    <div id="map"></div>

    <div class="row">
        <div class="large-12 columns">
            <div class="contactform-area triggerAnimation animated" data-animate="fadeInDown">
                <h4 class="text-center contactform-heading gap-bottom25"><span>We'd love to hear from you!</span></h4>

                <form action="#" id="contactform">
                    <fieldset>
                        <div class="row contact">
                            <div class="large-4 medium-4 columns">
                                <label for="name"><span>Username</span></label>
                                <input type="text" name="name" id="name" placeholder="Username" />
                            </div>

                            <div class="large-4 medium-4 columns">
                                <label for="email"><span>Email</span></label>
                                <input type="email" name="email" id="email" placeholder="Email here" />
                            </div>

                            <div class="large-4 medium-4 columns">
                                <label for="subject"><span>Subject</span></label>
                                <input type="text" name="subject" id="subject" placeholder="Subject here" />
                            </div>

                            <div class="large-12 columns">
                                <label for="message"><span>Message</span></label>
                                <textarea id="message" name="message" placeholder="Leave your message here." style="height: 100px;"></textarea>

                                <button type="submit" class="small round green" id="buttonsend">Send Message</button>
                                <span class="loading" style="display: none;">Please wait..</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Content fullwidth end here -->
