@import "foundation_and_overrides";
@import "prodigy-responsive";
@import "style";

/* Add imports of custom sass/scss files here */

/*navigation bar*/

.nav.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 40px;
}

/*card stuff*/
.small-block-grid-1, .medium-block-grid-2, .large-block-grid-3 {
  align: center;
}
