/*
 *= require foundation
 *= require prodigy-responsive
 *= require style
 *= require revolution
 *= require revolution-responsive
 *= require_self
*/

.card {
border: solid;
}

// li.card .row {
//   vertical-align: bottom;
// }

// li.card .row .small-6 .columns {
//   width: 100%;
// }

a.done {
  border: solid;
  border-color: #2483C0;
  border-radius: 25px;
  padding: 1;
  background-color: #2483C0;
}

#dashboardbox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

// dashboard done button
a.done {
  border: solid;
  border-color: #2483C0;
  border-radius: 25px;
  padding: 1;
  background-color: #2483C0;
}

// container for cards
#dashboardbox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

// contact form alignment

.row.contact {
  text-align: left;
}

#name {
  width: 100%;
}

#email {
  width: 100%;
}

#subject {
  width: 100%;
}

#message {
  width: 100%;
}

#buttonsend {
  width: 15%;
}

// custom header
header#header5 {
  width:100%;
  height:136px;
  background:image-url('slideshow/bg_slide1.jpg');
  position:relative;
  z-index:900 !important;
}

// devise pages

.devisestuff {
  margin: 5% 10% 5% 25%;
  width: 50%;
  border-radius: 5px;
  padding: 1%;
  border: 2px solid rgb(89, 186, 71);
  background: rgb(248, 255, 247);
  color: #59ba47;
}
