/* Social Icons by Entypo */
@font-face {
font-family: 'entypo-social';
src:url('../font/entypo-social.eot');
src:url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
url('../font/entypo-social.woff') format('woff'),
url('../font/entypo-social.ttf') format('truetype'),
url('../font/entypo-social.svg#entypo-social') format('svg');
font-weight: normal;
font-style: normal;
}

[data-icon]:before {
font-family: 'entypo-social';
content: attr(data-icon);
speak: none;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

.social-mail, .social-rss, .social-github, .social-flickr, .social-vimeo, .social-twitter, .social-facebook, .social-googleplus, .social-pinterest, .social-tumblr, .social-linkedin, .social-dribbble, .social-stumbleupon, .social-lastfm, .social-rdio, .social-spotify, .social-instagram, .social-dropbox, .social-evernote, .social-flattr, .social-skype, .social-behance, .social-soundcloud, .social-picasa, .social-paypal, .social-smashing, .social-sina-weibo, .social-mixi, .social-renren, .social-qq {
font-family: 'entypo-social';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

.social-mail:before {content: "\21";}
.social-rss:before {content: "\22";}
.social-github:before {content: "\23";}
.social-flickr:before {content: "\24";}
.social-vimeo:before {content: "\25";}
.social-twitter:before {content: "\26";}
.social-facebook:before {content: "\27";}
.social-googleplus:before {content: "\28";}
.social-pinterest:before {content: "\29";}
.social-tumblr:before {content: "\2a";}
.social-linkedin:before {content: "\2b";}
.social-dribbble:before {content: "\2c";}
.social-stumbleupon:before {content: "\2d";}
.social-lastfm:before {content: "\2e";}
.social-rdio:before {content: "\2f";}
.social-spotify:before {content: "\30";}
.social-instagram:before {content: "\31";}
.social-dropbox:before {content: "\32";}
.social-evernote:before {content: "\33";}
.social-flattr:before {content: "\34";}
.social-skype:before {content: "\35";}
.social-behance:before {content: "\36";}
.social-soundcloud:before {content: "\37";}
.social-picasa:before {content: "\38";}
.social-paypal:before {content: "\39";}
.social-smashing:before {content: "\3a";}
.social-sina-weibo:before {content: "\3b";}
.social-mixi:before {content: "\3c";}
.social-renren:before {content: "\3d";}
.social-qq:before {content: "\3e";}