<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco-Mojo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
<footer id="footer1">
      <div class="row">
          <div class="large-4 medium-6 columns hide-for-small-only">
              <a href="#" class="button large round white gap-top8">Ready to get started?</a>
              <p class="gap-left8">You can also call 123.456.7899 or <a href="mailto:hello@prodigystudio.net">email us</a>.</p>
          </div>

          <div class="large-8 medium-6 columns text">
              <div class="footer-socials right">
                  <ul class="share-social no-bullet">
                      <li data-tooltip class="has-tip tip-top fb-color" title="Share to Facebook">
                          <a href="#">
                              <i class="social-facebook"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top tw-color" title="Share to Twitter">
                          <a href="#">
                              <i class="social-twitter"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top gplus-color" title="Share to Google+">
                          <a href="#">
                              <i class="social-googleplus"></i>
                          </a>
                      </li>
                      <li data-tooltip class="has-tip tip-top drb-color" title="Share to Dribbble">
                          <a href="#">
                              <i class="social-dribbble"></i>
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="footer-menu">
                  <ul class="no-bullet right">
                      <li><a href="#">Work</a></li>
                      <li><a href="#">Approach</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>

              <div class="right">
                  <p>&copy; 2014 . Proudly Producing from Indonesia</p>
              </div>
          </div>
      </div>
  </footer>
  <!-- Footer end here -->
  </div>
      <script src="assets/jquery.js"></script>
      <script src="assets/modernizr.js"></script>
      <script src="assets/foundation.js"></script>
      <script src="assets/responsivetabs.js"></script>
      <script src="assets/fancybox.js"></script>
      <script src="assets/fancybox-media.js"></script>
      <script src="assets/donutchart.js"></script>
      <script src="assets/waypoints.js"></script>
      <script src="assets/accordion.js"></script>
      <script src="assets/retina.js"></script>
      <script src="assets/classie.js"></script>
      <script src="assets/uisearch.js"></script>
      <script src="assets/sticky.js"></script>
      <script src="assets/sscr.js"></script>
      <script src="assets/parallax.js"></script>

      <!-- Javascript plugin here  -->
      <script src="assets/countTo.js"></script>
      <script src="assets/contact-form.js"></script>
      <script src="assets/scrollUp.js"></script>
      <script src="assets/themepunch.js"></script>
      <script src="assets/themepunch-revolution.js"></script>
      <script src="assets/carousel.js"></script>
      <!-- Javascript initialize here  -->
      <script src="assets/prodigy.js"></script>
</body>
</html>
